/* @import "fonts.less";  */
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.at {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.lsn {
  list-style: none;
}
.hidden-for-all {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  position: absolute !important;
  overflow: hidden;
}
.capital {
  text-transform: uppercase;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus {
  /* remember to define focus styles! */
  outline: 0;
}
img {
  border: 0 none;
}
a:link {
  text-decoration: none;
}
/* @blue: #266c8e; */
/*@carousel-imgs: "IMG_0517.png", "IMG_0462.png", "lattice.png", "IMG_0497.png";*/
.btn-primary {
  background-color: #00557b;
  border-color: #00557b;
}
.btn-primary:hover {
  background-color: #003248;
}
.btn-danger {
  background-color: #e73238;
  border-color: #e73238;
}
.btn-danger:hover {
  background-color: #ad0011;
}
.btn-info {
  background-color: #1278a6;
  border-color: #1278a6;
}
.btn-info:hover {
  background-color: #0a587b;
}
.btn-success {
  background-color: #1e8765;
  border-color: #1e8765;
}
.btn-success:hover {
  background-color: #00593b;
}
.table > tbody > tr.available {
  color: #1e8765;
}
.table > tbody > tr.available:hover {
  background-color: #1e8765;
  color: #fff;
}
.table > tbody > tr.in-use {
  color: #ff9d91;
}
.table > tbody > tr.in-use:hover {
  background-color: #ff9d91;
  color: #fff;
}
.table > tbody > tr.on-loan {
  color: #89ebc3;
}
.table > tbody > tr.on-loan:hover {
  background-color: #89ebc3;
  color: #fff;
}
.table > tbody > tr.broken {
  color: #e73238;
}
.table > tbody > tr.broken:hover {
  background-color: #e73238;
  color: #fff;
}
.table > tbody > tr.missing {
  color: #315765;
}
.table > tbody > tr.missing:hover {
  background-color: #315765;
  color: #fff;
}
.table > tbody > tr.signed-out {
  color: #5e8493;
}
.table > tbody > tr.signed-out:hover {
  background-color: #5e8493;
  color: #fff;
}
.table > tbody > tr.p-success {
  color: #56b893;
}
.table > tbody > tr.p-success:hover {
  background-color: #89ebc3;
  color: #000;
}
.table > tbody > tr.p-failed {
  color: #ff6b63;
}
.table > tbody > tr.p-failed:hover {
  background-color: #ff9d91;
  color: #000;
}
.bootstrap-datetimepicker-widget table td.active {
  background-color: #315765;
}
.bootstrap-datetimepicker-widget table a {
  color: #315765;
}
body {
  background: #f2f2f2;
  color: #080808;
  font-family: "Segoe UI", "proxima-nova", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body.is-fixed {
  height: 100%;
  overflow: hidden;
}
.ctr {
  *zoom: 1;
}
.ctr:before,
.ctr:after {
  display: table;
  content: "";
}
.ctr:after {
  clear: both;
}
.p-header {
  position: fixed;
  width: 100%;
  height: 48px;
  background: #002e3b;
  right: 0;
  top: 0;
  z-index: 40;
}
.p-header .ctr {
  padding: 6px 10px;
  *zoom: 1;
}
.p-header .ctr:before,
.p-header .ctr:after {
  display: table;
  content: "";
}
.p-header .ctr:after {
  clear: both;
}
.p-header .branding {
  float: left;
  padding: 3px 0;
}
.p-header .branding a {
  display: block;
}
.p-header .branding .logo_mob {
  width: 100px;
}
.p-header .bl-menu {
  width: 100%;
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  background: #002e3b;
  text-align: center;
  padding: 20px 0;
  z-index: 3;
  /* .item {
            position: relative;
        }
        
        .dropdown-menu {
            position: absolute;
        } */
}
.p-header .bl-menu li a,
.p-header .bl-menu li > span {
  font-size: 20px;
  font-size: 1.25rem;
  color: #a4afb5;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  display: block;
}
.p-header .bl-menu li .btn {
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  padding: 5px 10px;
}
.p-header .bl-menu a:hover,
.p-header .bl-menu li > span:hover {
  color: #ffffff;
  text-decoration: none;
}
.p-header .bl-menu.no-active {
  display: none;
}
@media screen and (max-width: 1099px) {
  .p-header .bl-menu .item .dropdown-bl {
    display: none;
    background: #005c85;
  }
  .p-header .bl-menu .item .dropdown-bl a {
    font-size: 16px;
    font-size: 1rem;
    display: block;
  }
  .p-header .bl-menu .item.is-active .dropdown-bl {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .p-header .bl-menu .item {
    position: relative;
  }
  .p-header .bl-menu .item a,
  .p-header .bl-menu .item > span {
    font-size: 16px;
    font-size: 1rem;
  }
  .p-header .bl-menu .item .dropdown-bl {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #005c85;
    border-radius: 0 2.5px 2.5px 2.5px;
    display: none;
  }
  .p-header .bl-menu .item .dropdown-bl.dropdown-login {
    width: 164px;
    border-radius: 2.5px 0 2.5px 2.5px;
  }
  .p-header .bl-menu .item .dropdown-bl li {
    display: block;
    border-bottom: 1px solid #00557b;
    padding: 10px 20px;
  }
  .p-header .bl-menu .item .dropdown-bl li:hover {
    background: #1278a6;
  }
  .p-header .bl-menu .item .dropdown-bl li:hover > a {
    color: #ffffff;
  }
  .p-header .bl-menu .item .dropdown-bl a {
    font-size: 14px;
    font-size: 0.875rem;
    display: block;
  }
  .p-header .bl-menu .item:hover > span {
    background: #005c85;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
  }
  .p-header .bl-menu .item:hover .dropdown-bl {
    display: block;
  }
}
.hamburger-box {
  width: 24px;
  height: 32px;
  position: absolute;
  right: 9px;
  top: 8px;
}
.hamburger-inner {
  margin-top: 3px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  background-color: #fff;
  height: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 2px, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, -2px, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}
.hamburger:hover {
  opacity: 1;
}
.btn-menu {
  padding: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #002e3b;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 4px 0 0;
  -webkit-transition: all 0.1s linear 0.1s;
  -moz-transition: all 0.1s linear 0.1s;
  -ms-transition: all 0.1s linear 0.1s;
  -o-transition: all 0.1s linear 0.1s;
  transition: all 0.1s linear 0.1s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.p-header.has-active-mob-menu .btn-menu {
  z-index: 6;
}
/*WELCOME BLOCK STYLES*/
.bl-welcome {
  position: absolute;
  top: 100px;
  z-index: 2;
  color: #fff;
}
.bl-welcome p {
  font-weight: 500;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 20px;
}
.bl-welcome a {
  color: #ffffff;
  /*.font-size( (20/@fs-base) );*/
  font-size: 32px;
  font-size: 2rem;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}
.bl-welcome a:hover {
  /*color: @c-link;*/
  color: #50626e;
}
.bl-welcome .btn {
  padding: 10px;
}
.bl-welcome .btn-online {
  background: #E91E63;
}
.bl-welcome .btn-online:hover {
  background: #C2185B;
}
.bl-welcome .btn-request {
  background: #00BCD4;
}
.bl-welcome .btn-request:hover {
  background: #0097A7;
}
/* SLIDER STYLES */
#image-slider_home {
  /*@cntr: 1;
    .for-each(@imgname in @carousel-imgs) {
        .img_@{cntr} {
            @url: "@{root}@{imgname}";
            background: url(@url);
        }
        @cntr: @cntr + 1;
    }*/
}
#image-slider_home .img_1 {
  background-image: url("/Images/IMG_0517.png");
}
#image-slider_home .img_2 {
  background-image: url("/Images/IMG_0462.png");
}
#image-slider_home .img_3 {
  background-image: url("/Images/IMG_0531.png");
}
#image-slider_home .img_4 {
  background-image: url("/Images/IMG_0497.png");
}
.image-slider {
  position: relative;
}
.image-slider .owl-dots {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.image-slider.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 5px 9px;
}
.image-slider.owl-theme .owl-dots .owl-dot.active span,
.image-slider.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #1278a6;
}
.image-slider .item {
  height: 80vh;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: cover;
}
.image-slider .item:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(40, 35, 41, 0.5);
}
.wrap {
  margin: 10px;
  padding-right: 5px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.wrap .ctr-issues {
  position: relative;
  width: 100%;
  border: 2px solid grey;
  border-radius: 8px;
}
.content {
  margin-top: 100px;
  text-align: center;
  flex-grow: 1;
}
.content h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.content p {
  margin-bottom: 20px;
}
.content .title {
  font-family: "neuzeit-grotesk", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 32px;
  font-size: 2rem;
}
.content .text-user {
  font-style: italic;
}
.content .m-b-md {
  margin-bottom: 30px;
}
.content .m-b-md.add-printer-issue .title {
  display: inline-block;
  vertical-align: middle;
}
.content .m-b-md.add-printer-issue a {
  display: inline-block;
}
.content .m-b-md .nav li {
  font-size: 20px;
  font-size: 1.25rem;
}
.content ol {
  margin-left: 50px;
}
.content .radio {
  margin: 10%;
  margin-top: -2px;
}
.content .help-block {
  color: red;
}
.content table thead,
.content .table thead {
  font-weight: 600;
}
.content table th,
.content .table th {
  vertical-align: top;
}
.content table td,
.content .table td {
  vertical-align: middle;
}
.content #reviewJob h4 {
  color: red;
  font-weight: 600;
  font-size: large;
}
.well {
  background: #fff;
  margin-bottom: 30px;
}
.s-welcome {
  margin-top: 60px;
}
.s-welcome .container {
  margin-top: -150px;
  text-align: left;
}
.s-welcome .bl-header {
  position: relative;
  overflow: hidden;
  height: 100%;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.s-welcome .bl-header h3 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}
.s-welcome .bl-header button {
  display: inline-block;
}
.s-welcome .bl-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}
.s-welcome .bl-logo.logo-issue {
  background: url('/Images/icons/ic_issue.svg') 50% 50% no-repeat;
  background-size: cover;
}
.s-welcome .bl-logo.logo-announcement {
  background: url('/Images/icons/ic_announcement.svg') 50% 50% no-repeat;
  background-size: cover;
}
.s-welcome .bl-logo.logo-stat {
  background: url('/Images/icons/ic_chart.svg') 50% 50% no-repeat;
  background-size: cover;
}
.s-welcome .row-flex {
  display: flex;
  flex-wrap: wrap;
}
.s-welcome .cardblock {
  background: #fff;
  position: relative;
  margin-bottom: 30px;
}
.s-welcome .cardblock:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.s-welcome .cardblock .info-box {
  color: #fff;
  padding: 20px 20px 0;
  position: relative;
  overflow: hidden;
}
.s-welcome .cardblock .info-box.box-issue {
  background-color: #ad0011;
}
.s-welcome .cardblock .info-box.box-announcement {
  background-color: #00593b;
}
.s-welcome .cardblock .info-box.box-stat {
  background-color: #002e3b;
}
.s-welcome .cardblock .info-box .caption {
  display: inline-block;
  padding: 12px;
}
.s-welcome .cardblock .body {
  padding: 20px;
  height: 89%;
  color: #fff;
}
.s-welcome .cardblock .body small {
  color: #fff;
}
.s-welcome .cardblock .body.bg-issue {
  background-color: #e73238;
}
.s-welcome .cardblock .body.bg-announcement {
  background-color: #1e8765;
}
.s-welcome .cardblock .body.bg-stat {
  background-color: #315765;
}
.s-welcome .cardblock.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  height: 0;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}
.s-welcome .cardblock.hover-expand-effect:hover:after {
  height: 90%;
}
.s-welcome .list-group-item {
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
}
.s-welcome .list-group-item h4,
.s-welcome .list-group-item h5 {
  margin-bottom: 10px;
}
.s-welcome .list-group-item button {
  margin-bottom: 10px;
}
.s-welcome .list-group-item ol {
  margin-left: 30px;
}
.s-welcome .list-group-item .media-left img {
  width: 30px;
}
.s-welcome .view-all {
  background: #5dbd9f;
  margin-bottom: 30px;
  color: #ffffff;
}
.s-welcome .view-all:hover {
  background: #4bb694;
}
.s-map {
  margin-bottom: -25px;
}
.s-map .scrolloff {
  pointer-events: none;
}
.table {
  min-width: 300px;
}
.table th {
  display: none;
}
.table td {
  display: block;
  /*          &:last-child {
 padding-bottom: 4.5em;
        }  
 */
}
.table td:first-child {
  margin-top: 4.5em;
}
.table td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  width: 10.5em;
  display: inline-block;
}
@media (min-width: 760px) {
  .table td:before {
    display: none;
  }
}
.table th,
.table td {
  text-align: left;
}
@media (min-width: 760px) {
  .table th,
  .table td {
    display: table-cell;
    /* padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      } */
  }
  .table th td,
  .table td td {
    vertical-align: middle;
  }
}
.s-request-form .instructions .hint {
  display: none;
}
.s-request-form .instructions .hint.is-active {
  display: block;
}
/*connected nav styles*/
.nav.nav-pills > li > a {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #e1e8ec;
  color: #000000;
}
.nav.nav-pills > li > a:hover {
  background-color: #1278a6;
  color: #ffffff;
}
.nav.nav-pills > li.active > a {
  background-color: #005c85;
  color: #ffffff;
}
.nav.nav-pills > li.nav-left > a {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 1px;
}
.nav.nav-pills > li.nav-right > a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 1px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #ddd;
}
.table-hover > tbody > tr:focus,
.table-hover > tbody > tr:hover {
  background-color: #ddd;
}
.printer-details > .item .alert-default {
  background-color: #9fb1bd;
  border-color: #758d9a;
  color: #000000;
}
.printer-details > .item .alert-default:hover {
  background-color: #e1e8ec;
  color: #000000;
}
.printer-details > .item .alert-default:hover a {
  color: #000;
}
.printer-details > .item .alert-default:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-default a {
  color: #000000;
}
.printer-details > .item .alert-available {
  background-color: #1e8765;
  border-color: #00593b;
  color: #ffffff;
}
.printer-details > .item .alert-available:hover {
  background-color: #56b893;
  color: #000000;
}
.printer-details > .item .alert-available:hover a {
  color: #000;
}
.printer-details > .item .alert-available:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-available a {
  color: #ffffff;
}
.printer-details > .item .alert-psuccess {
  background-color: #56b893;
  border-color: #1e8765;
  color: #000000;
}
.printer-details > .item .alert-psuccess:hover {
  background-color: #89ebc3;
  color: #000000;
}
.printer-details > .item .alert-psuccess:hover a {
  color: #000;
}
.printer-details > .item .alert-psuccess:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-psuccess a {
  color: #000000;
}
.printer-details > .item .alert-pfailed {
  background-color: #ff6b63;
  border-color: #e73238;
  color: #ffffff;
}
.printer-details > .item .alert-pfailed:hover {
  background-color: #ff9d91;
  color: #000000;
}
.printer-details > .item .alert-pfailed:hover a {
  color: #000;
}
.printer-details > .item .alert-pfailed:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-pfailed a {
  color: #ffffff;
}
.printer-details > .item .alert-onloan {
  background-color: #89ebc3;
  border-color: #56b893;
  color: #000000;
}
.printer-details > .item .alert-onloan:hover {
  background-color: #b7f0d9;
  color: #000000;
}
.printer-details > .item .alert-onloan:hover a {
  color: #000;
}
.printer-details > .item .alert-onloan:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-onloan a {
  color: #000000;
}
.printer-details > .item .alert-broken {
  background-color: #e73238;
  border-color: #ad0011;
  color: #ffffff;
}
.printer-details > .item .alert-broken:hover {
  background-color: #ff6b63;
  color: #000000;
}
.printer-details > .item .alert-broken:hover a {
  color: #000;
}
.printer-details > .item .alert-broken:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-broken a {
  color: #ffffff;
}
.printer-details > .item .alert-missing {
  background-color: #315765;
  border-color: #002e3b;
  color: #ffffff;
}
.printer-details > .item .alert-missing:hover {
  background-color: #5e8493;
  color: #000000;
}
.printer-details > .item .alert-missing:hover a {
  color: #000;
}
.printer-details > .item .alert-missing:hover a.btn {
  color: #fff;
}
.printer-details > .item .alert-missing a {
  color: #ffffff;
}
.contacts .col-left {
  padding-left: 15px;
}
.contacts .row-last {
  padding-bottom: 20px;
}
.demonstrator .list-group-item {
  background-color: #315765;
  color: #fff;
}
.demonstrator .list-group-item:hover {
  background-color: #5e8493;
  color: #fff;
}
.demonstrator .role-header {
  background-color: #002e3b;
  color: #ffffff;
}
.demonstrator .role-header:hover {
  background-color: #002e3b;
  color: #ffffff;
}
.demonstrator .role-header-managers {
  background-color: #002e3b;
  color: #ffffff;
}
.demonstrator .role-header-managers:hover {
  background-color: #002e3b;
  color: #ffffff;
}
.demonstrator .role-header-demonstrator {
  background-color: #e73238;
  color: #ffffff;
}
.demonstrator .role-header-demonstrator:hover {
  background-color: #e73238;
  color: #ffffff;
}
.demonstrator .role-header-online {
  background-color: #e73238;
  color: #ffffff;
}
.demonstrator .role-header-online:hover {
  background-color: #e73238;
  color: #ffffff;
}
.demonstrator .role-header-it {
  background-color: #1e8765;
  color: #000000;
}
.demonstrator .role-header-it:hover {
  background-color: #1e8765;
  color: #000000;
}
.demonstrator .role-lead-demonstrator {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-lead-demonstrator:hover {
  background-color: #ff6b63;
  color: #000000;
}
.demonstrator .role-demonstrator {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-demonstrator:hover {
  background-color: #ff9d91;
  color: #000000;
}
.demonstrator .role-it-manager {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-it-manager:hover {
  background-color: #56b893;
  color: #000000;
}
.demonstrator .role-it {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-it:hover {
  background-color: #89ebc3;
  color: #000000;
}
.demonstrator .role-3d-hub-manager {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-3d-hub-manager:hover {
  background-color: #ff9d91;
  color: #000000;
}
.demonstrator .role-coordinator {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-coordinator:hover {
  background-color: #315765;
  color: #ffffff;
}
.demonstrator .role-co-coordinator {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-co-coordinator:hover {
  background-color: #5e8493;
  color: #000000;
}
.demonstrator .role-technician {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-technician:hover {
  background-color: #5e8493;
  color: #000000;
}
.demonstrator .role-former-member {
  background-color: #fff;
  color: #000;
}
.demonstrator .role-former-member:hover {
  background-color: #e1e8ec;
  color: #000000;
}
/* MODAL STYLES */
.modal-header {
  background: #002e3b;
  color: #fff;
}
.modal-header .close {
  color: #fff;
  opacity: 1;
}
#addIssue,
#addAnnouncement,
#add_issue,
#add_announcement,
#addPrintModal {
  margin-bottom: 30px;
}
footer {
  font-weight: 100;
  font-size: 14px;
  font-size: 0.875rem;
  background: #002e3b;
  color: #fff;
  margin-top: 20px;
  padding: 15px;
}
footer p {
  text-align: center;
}
footer .social-media {
  font-size: 20px;
  font-size: 1.25rem;
}
footer .support {
  display: none;
}
footer .copyright,
footer .team {
  font-size: 12px;
  font-size: 0.75rem;
}
footer a {
  color: #74c9e5;
}
footer a:hover {
  color: #9fdaed;
}
@media screen and (min-width: 450px) {
  .image-slider .item {
    height: 500px;
  }
}
@media screen and (min-width: 500px) {
  .s-welcome .is-table-row {
    display: table;
  }
  .s-welcome .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}
@media screen and (min-width: 732px) {
  .bl-welcome p {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
/* Tablet and bigger */
@media screen and (min-width: 768px) {
  /*  .p-header {
       .bl-menu {
           li {
               a, > span {
                   .font-size( (16/@fs-base) );
               }
           }
           .dropdown-bl {
               li > a {
                   .font-size( (14/@fs-base) );
               }
           }
       }
        }   */
  footer {
    font-size: 16px;
    font-size: 1rem;
  }
  footer p {
    text-align: left;
  }
  footer .social-media {
    margin-top: 66px;
    font-size: 24px;
    font-size: 1.5rem;
  }
  footer .support {
    display: block;
  }
  footer .copyright,
  footer .team {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .row.vdivide [class*='col-sm-6']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 220px;
  }
  .row.vdivide [class*='col-sm-3']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  .row.vdivide [class*='col-sm-4']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
}
@media screen and (min-width: 1023px) {
  .bl-welcome {
    top: 200px;
  }
  .bl-welcome p {
    font-size: 50px;
    font-size: 3.125rem;
    margin-bottom: 10px;
  }
  .s-welcome .cardblock {
    height: 95%;
  }
}
@media screen and (min-width: 1100px) {
  .p-header {
    height: auto;
  }
  .p-header .ctr {
    padding: 0 10px;
  }
  .p-header .branding {
    padding: 18px 0;
  }
  .p-header .branding .logo_mob {
    width: 124px;
  }
  .p-header .btn-menu {
    display: none;
  }
  .p-header .bl-menu {
    display: inline-block;
    width: auto;
    float: right;
    text-align: left;
    padding: 0;
    margin-bottom: 12px;
  }
  .p-header .bl-menu > li {
    border: none;
    display: inline-block;
    padding: 12px 0 0;
    margin-left: 15px;
  }
  .p-header .bl-menu > li a {
    padding: 0;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
  }
  .p-header .bl-menu .menu > a {
    background: none;
  }
  .p-header .bl-menu a:hover,
  .p-header .bl-menu .active {
    color: #ffffff;
  }
  .p-header .item {
    cursor: pointer;
  }
  .p-header .item .dropdown-bl {
    margin-left: 0;
  }
  .p-header .item .dropdown-bl.dropdown-login {
    margin-left: -94px;
    min-width: 130px;
  }
  .p-header .item .dropdown-bl.dropdown-role {
    margin-left: -50px;
  }
  .content .title {
    font-size: 48px;
    font-size: 3rem;
  }
  .side-toggle {
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    position: absolute !important;
    overflow: hidden;
  }
}
@media screen and (min-width: 1091px) {
  /* .ctr {
	width: @w-desktop;
	padding: 0;
} */
  .p-header .branding {
    margin-left: 15px;
  }
  .p-header .bl-menu {
    margin-left: 40px;
    position: relative;
    left: inherit;
    top: 0;
  }
}
