/* @import "fonts.less";  */
@import "mixins.less";
@import "setup.less";

body {
    background: #f2f2f2;
    color: @c-font;
    font-family: @f-family;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    display: flex; // flexbox to make a sticky footer
    flex-direction: column;
    &.is-fixed {
        height: 100%;
        overflow: hidden;
    }
}

.ctr {
    .clearfix;
}


//HEADER STYLES//
.p-header {
    position: fixed;
    width: 100%;
    height: 48px;
    background: @dark-blue;
    right: 0;
    top: 0;
    z-index: 40;
    
    .ctr {
        padding: 6px 10px;
        .clearfix;
    }

    .branding {
        float: left;
        padding: 3px 0;

        a {
            display: block;
        }

        .logo_mob {
            width: 100px;
        }
    } // .branding

    .bl-menu {
        width: 100%;
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        background: @dark-blue;
        text-align: center;
        padding: 20px 0;
        z-index: 3;

        li {

            a,
            > span {
                .font-size( (20/@fs-base) );
                color: @light-grey;
                padding: 5px 10px;
                text-decoration: none; 
                text-shadow: 0 1px 1px rgba(0,0,0,.4);

                display: block;
            }
            .btn {
                background: @light-red;
                color: @c-link;
                padding: 10px;
                &:hover{
                    background: @red;
                }
            }
        }

        a:hover,
        li > span:hover {
            color: @c-link;
            text-decoration: none; 
        }

        &.no-active {
            display: none;
        }

        /* .item {
            position: relative;
        }
        
        .dropdown-menu {
            position: absolute;
        } */
    } //.bl-menu

    @media screen and (max-width: 1099px ) {
       .bl-menu {
           .item {
               .dropdown-bl {
                   display: none;
                   background: @blue;
                   a {
                       .font-size( (16/@fs-base) );
                       display: block;
                   }
               }
               
               &.is-active {
                   .dropdown-bl {
                       display: block;
                   }
               }
           }
       }
    } 

     @media screen and (min-width: 1100px ) {
      .bl-menu {
            .item {
                position: relative;
                a, > span {
                    .font-size( (16/@fs-base) );
                }
                .dropdown-bl {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 200px;
                    background: @blue;
                    border-radius:0 2.5px 2.5px 2.5px;
                    &.dropdown-login {
                        width: 164px;
                        border-radius:2.5px 0 2.5px 2.5px;
                    }
                    
                    display: none;
    
                    li {
                        display: block;
                        border-bottom: 1px solid #00557b;
                        padding: 10px 20px;
                        &:hover {
                            background: @light-blue;
                            > a {
                               color: @c-link;
                            }
                        }
                    }
    
                    a {
                        .font-size( (14/@fs-base) );
                        display: block;
                    }
                }
                
                &:hover {
                    > span {
                        background: @blue;
                        color: @c-link;
                        border-radius: 5px 5px 0 0;
                    }
                    .dropdown-bl {
    
                        display: block;
    
                    }
                }
            }
        }  
    } 

}// .p-header


//HAMBURGER STYLES//
.hamburger-box {
    width: 24px;
    height: 32px;
    position: absolute;
    right: 9px;
    top: 8px;
}
.hamburger-inner {
    margin-top: 3px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    background-color: #fff;
    height: 2px;
    .border-radius(0);
}
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 2px, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, -2px, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger-inner::before {
    top: -7px;
}
 .hamburger-inner::after {
    bottom: -7px;
}
.hamburger:hover {
    opacity: 1;
}

.btn-menu {
    padding: 0;
    cursor: pointer;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: @dark-blue;
    position: absolute;
    top: 0;
    right: 0;
    .transform (translateZ(0));
    -webkit-backface-visibility: hidden;

    span {
        display: block;
        height: 3px;
        background-color: #fff;
        margin: 4px 0 0;
        .transition (all .1s linear .1s);
        position: relative;

        &.first {
            margin-top: 0;
        }
    }
}

.p-header {

    &.has-active-mob-menu {
        .btn-menu {
           z-index: 6;
        }
    }
} 

/*WELCOME BLOCK STYLES*/

.bl-welcome {
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 2;
    color: #fff;
   
    p {
        font-weight: 500;
       .font-size( (32/@fs-base) );
        line-height: 1;
        margin-bottom: 20px;
    }

    a {
        color: @c-link;
        .font-size( (20/@fs-base) );
        display: block;
        padding: 5px 20px;
        text-decoration: none; 
        &:hover{
            color: @c-link;
        }
    }
    .btn {
        background: @light-blue;
        padding: 10px;
        &:hover{
            background: @blue;
        }
    }
}

/* SLIDER STYLES */

#image-slider_home {
    .img_1 {
        background-image: url('/Images/IMG_0517.png');
    }
    .img_2 {
        background-image: url('/Images/IMG_0462.png');
    }
    .img_3 {
        background-image: url('/Images/lattice.png');
    }
    .img_4 {
        background-image: url('/Images/IMG_0497.png')
    }
}

.image-slider {
    position: relative;

    .owl-dots {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }

    &.owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    width: 7px;
                    height: 7px;
                    margin: 5px 9px;
                }

                &.active,
                &:hover {

                    span {
                        background-color: @light-blue;
                    }
                }
            }
        }
    }

    .item {
        height: 80vh;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50% 50%;
        background-size: cover;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: fade(#282329, 50%);
        }
    }
} //.image-slider

.wrap {
    margin: 10px;
    padding-right: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;

    .ctr-issues {
        position: relative;
        width: 100%;
        border: 2px solid grey;
        border-radius: 8px;
    }
}

//content styles for all pages
.content {
    margin-top: 100px; 
    text-align: center;
    flex-grow: 1;  // flexbox to make a sticky footer
    
    h3 {
        .font-size( (20/@fs-base) );
        font-weight: 600; 
        margin-bottom: 20px;
    } 

    p {
        margin-bottom: 20px;
    }


    .title {
        font-family: @f-extra;
        .font-size( (32/@fs-base) );
    }

    .m-b-md {
        margin-bottom: 30px;
        &.add-printer-issue {
            .title {
                display: inline-block; vertical-align: middle
            }
            
            a {
                display: inline-block;
            }
        }
        .nav {
            li {
                .font-size( (20/@fs-base) );
            }
        }
    }

    ol {
        margin-left: 50px;
    }

    .radio {
        margin: 10%; 
        margin-top: -2px;
    }

    .help-block{
        color: red;
    }

    table, .table {
        thead {
            font-weight: 600;
        }
        th {
           vertical-align: top; 
        } 
        td {
            vertical-align: middle;
        }
    }

    #reviewJob {
        h4 {
            color:red; 
            font-weight: 600; 
            font-size: large;
        }
    }
} 

.well {
    background: #fff;
    margin-bottom: 30px;
}




//content styles for home page
.s-welcome {
    margin-top: 60px;

    .container {
        margin-top: -150px;
        text-align: left;
    }


    .bl-header {
        position: relative;
        overflow: hidden;
        height: 100%;
        color: black; 
        margin-top: 30px; 
        margin-bottom: 30px;
        text-align: center;
        h3 {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0px;
        }
        button {
            display: inline-block;
        }
    }

    .bl-logo {
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        margin-bottom: 20px;
                       
        &.logo-issue {
            background:  url('/Images/icons/ic_issue.svg') 50% 50% no-repeat; 
            background-size: cover; 
        }
        &.logo-announcement {
            background:  url('/Images/icons/ic_announcement.svg') 50% 50% no-repeat; 
            background-size: cover; 
        }
        &.logo-stat {
            background:  url('/Images/icons/ic_chart.svg') 50% 50% no-repeat; 
            background-size: cover; 
        }
    }

    .cardblock {
        background: #fff;
        min-height: 50px;
        position: relative;
        margin-bottom: 30px;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            cursor: pointer;
        }
        .info-box {
            color: #fff;
            padding: 20px 20px 0;
            position: relative;
            overflow: hidden;
            &.box-issue {
                background-color: #880E4F;   
            }
            &.box-announcement {
                background-color: #006064; 
            }
            &.box-stat {
                background-color: #004D40;
            }
            .caption {
                display: inline-block;
                padding: 12px;
            }
        }
        .body {
            padding: 20px;
            min-height: 390px;
            color: #fff;
            small {
                color: #fff;
            }
            &.bg-pink {
                background-color: #C2185B;// #F8BBD0;
                // &:hover {
                // background-color: #880E4F; 
                // color: #fff;
                // }
            }
            &.bg-cyan {
                background-color: #0097A7;//#B2EBF2;
                // &:hover {
                //    background-color: #006064; 
                //    color: #fff;
                // }
            }
            &.bg-teal {
                background-color: #00796B;//#B2DFDB;
                // &:hover {
                //    background-color: #004D40; 
                //    color: #fff;
                // }
            }
        }
    }

    .cardblock.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        height: 0;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }
    .cardblock.hover-expand-effect:hover:after {
        height: 80%
    }
    

    

    .list-group-item {
        background-color: transparent;
        border: none;
        margin-bottom: 30px;
        h4, h5 {
            margin-bottom: 10px;
        }
        button {
            margin-bottom: 10px;
        }
        ol {
            margin-left: 30px;
        }
        .media-left {
            img {
                width:30px;
            }
        }
    }

    .view-all {
       background: @turq; 
       margin-bottom: 30px;
       color: @c-link;
       &:hover {
        background: @dark-turq;
       }
    }
}

.s-map {
    margin-bottom: -25px;

    .scrolloff {
        pointer-events: none;
    }
}

// content styles for tables, making them look good on phones and tablets

.table {
    min-width: 300px; // adjust to your needs
  
    th {
    display: none;   
    }

    td {
        display: block; 

         &:first-child {
          margin-top: 4.5em;
        } 
/*          &:last-child {
 padding-bottom: 4.5em;
        }  
 */
        &:before {
          content: attr(data-th)" "; 
          font-weight: bold;

          // optional stuff to make it look nicer
          width: 10.5em; // magic number :( adjust according to your own content
          display: inline-block;
          // end options
          
          @media (min-width: @breakpoint-alpha) {
            display: none;
          }
        }
    }

    th, td {
    text-align: left;

    @media (min-width: @breakpoint-alpha) {
      display: table-cell;
      td {
        vertical-align: middle;
      }
      /* padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      } */
    }
    
    } 
}


.s-request-form {

    .instructions {

        .hint {

            display: none;

            &.is-active {
                display: block;
            }
        }
    }
} // s-request-form

//custom styles for background on hover in nav and table-hover
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #ddd;
}
.table-hover>tbody>tr:focus, .table-hover>tbody>tr:hover {
    background-color: #ddd;
}

.contacts {
    .col-left {
        padding-left: 15px;
    }
    .row-last {
        padding-bottom: 20px;
    }
}

.demonstrator {
    .list-group-item {
        &:hover{
            color: #fff;
        }
    }

    .demonstrator-lead {
        background-color: #A5D6A7;
        &:hover {
            background-color: #C8E6C9;
        }
    }
    .demonstrator-norm {
        background-color: #90CAF9;
        &:hover {
            background-color: #BBDEFB;
        }
    }
    .it-manager {
        background-color: #9FA8DA;
        &:hover {
            background-color: #C5CAE9;
        }
    }
    .hub-manager {
        background-color: #FFCC80;
        &:hover {
            background-color: #FFE0B2;
        }
    }
    .coordinator {
        background-color: #EF9A9A;
        &:hover {
            background-color: #FFCDD2;
        }
    }
}

/* MODAL STYLES */

.modal-header {
    background: @dark-blue;
    color: #fff;  
    .close {
        color: #fff;
        opacity: 1;
    }  
}

#addIssue, #addAnnouncement, #add_issue, #add_announcement, #addPrintModal {
    margin-bottom: 30px;
}

footer {
    font-weight: 100;
    .font-size( (14/@fs-base) );
    background: @dark-blue;
    color: #fff;
    margin-top: 20px;
    padding: 15px;
    p {
      text-align: center;
    }
    
    .social-media {
       .font-size( (20/@fs-base) );
    }

    .support {
        display: none;
    }
    
    .copyright, .team {
        .font-size( (12/@fs-base) );
    }
}

@media screen and (min-width: 450px) {

    .image-slider {
        .item {
            height: 500px;
        }   
    }
} 

@media  screen and (min-width: 500px ) {
    
    .s-welcome {
        .is-table-row {
            display: table;
        }
        .is-table-row [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    }
}

@media  screen and (min-width: 732px ) {
    .bl-welcome {
        p {
            .font-size( (36/@fs-base) );
        }
    }
}

/* Tablet and bigger */
@media screen and ( min-width: 768px ) { 
    /*  .p-header {
       .bl-menu {
           li {
               a, > span {
                   .font-size( (16/@fs-base) );
               }
           }
           .dropdown-bl {
               li > a {
                   .font-size( (14/@fs-base) );
               }
           }
       }
        }   */
    
    
    footer {

        .font-size( (16/@fs-base) );

        p {
          text-align: left;
        }

        .social-media {
            margin-top: 66px;
           .font-size( (24/@fs-base) );
        }

        .support {
            display: block;
        }
        
        .copyright, .team {
            .font-size( (14/@fs-base) );
        }
    }
   
    .row.vdivide [class*='col-sm-6']:not(:last-child):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      min-height: 220px;
    }
        
    .row.vdivide [class*='col-sm-3']:not(:last-child):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      min-height: 70px;
    }

    .row.vdivide [class*='col-sm-4']:not(:last-child):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      min-height: 70px;
    }


}

@media screen and (min-width: 1023px) {
    .bl-welcome {
        top: 200px;
        p {
            .font-size( (50/@fs-base) );
            margin-bottom: 10px;
        }
    }
}

 @media screen and (min-width: 1100px ) {
    @import "wider.less";
} 




@widest-min : ( @w-desktop + 91px );

@media screen and (min-width: @widest-min ) {
    @import "widest.less";
} 

           
