// ==============================================================================
// ==========================	RESET	=========================================
// ==============================================================================	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
  /* remember to define focus styles! */
  outline: 0;
}

img {
	border: 0 none;
}
a:link {
  text-decoration: none;
}


// ==============================================================================
// ==========================	VARIABLES	=========================================
// ==============================================================================

//fonts
@fs-base : 16;
@f-family : "Segoe UI","proxima-nova","Helvetica Neue","Helvetica-Neue", Helvetica , Arial, "Nimbus Sans L", sans-serif;
@f-extra: "neuzeit-grotesk","Helvetica Neue","Helvetica-Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;



//colors
@c-link :  #fff;
@c-bg : #2c4b72;
@c-font :  #080808;

//The University of Southampton colors
@grey: #d4d4d4;
@light-grey: #A4AFB5;
@dark-grey: #323d43;
/* @blue: #266c8e; */
@light-blue: #369aca;
@light-red: #ec595f;
@red: #f00f2c;
@dark-red: #ab1212;
@turq: #5dbd9f;
@dark-turq: #4BB694;   

//logo color
@dark-blue:#002e3b;
@blue: #005C85;
@light-blue:#1278a6;

// Welcome blade custom theme
// Primary palette
@p-dark: #002e3b;
@p: #315765;
@p-light: #5e8493;
// Secondary palette
@s-dark: #006771;
@s: #30959f;
@s-light: #68c6d0;
// Additional palette
@a-dark: #ad0011;
@a: #e73238;
@a-light: #ff6b63;

//bootstrap custom colors for buttons and alerts
// .btn-primary {
//   background-color: #002e3b;
//   &:hover {
//     background-color: #00465a;
//   }
// }
// .btn-danger {
//   background-color: #e9454b;
//   &:hover {
//     background-color: #ee6b71;
//   }
// }
// .btn-info {
//   background-color: #0097c2;
//   &:hover {
//     background-color: #007697;
//   }
// }
// .btn-success {
//   background-color: #4c8658;
//   &:hover {
//     background-color: #539361;
//   }
// }
// .btn-warning {
//   background-color: #ff9900;
//   &:hover {
//     background-color: #ffa114;
//   }
// }

//bootstrap custom colors for table background

.table>tbody>tr>td {
  &.available {
    background-color: #4c8658;
  }
  &.in-use {
    background-color: #7a8500;
  }
  &.on-loan {
    background-color: #0097c2;
  }
  &.broken {
    background-color: #ff9900;
  }
  &.missing {
    background-color: #cc181e;
  }
  &.signed-out {
    background-color: #50626e;
  }
}

//others
@pth-images : "/Images";
@breakpoint-alpha: 760px;
@w-desktop : 1000px;



