



.p-header {
	height: auto;
		
	.ctr {
		padding: 0 10px;
	}
	 
	.branding {
		padding: 18px 0;
		.logo_mob {
            width: 124px;
        }
	}

	.btn-menu {
		display: none;
	}

	.bl-menu {
		display: inline-block;
		width: auto;
		float: right;
		text-align: left;
		padding: 0;
		margin-bottom: 12px;

		> li {
			border: none;
			display: inline-block;
			padding: 12px 0 0;
			margin-left: 15px; 
			a {
				padding: 0;
				position: relative;
				display: inline-block;
				outline: none;
				text-decoration: none; 
			}
		}

		.menu > a {
			background: none;
		}

		a:hover,.active {
  			color: @c-link;
  		}
	}  //.bl-menu

	.item {
		cursor: pointer;
        .dropdown-bl {
            margin-left: 0;
            &.dropdown-login {
                margin-left: -94px;
                min-width: 130px;
            }
            &.dropdown-role {
            	margin-left: -50px;
            } 
        }
    }
} // .p-header



.content {
	.title {
		.font-size( (48/@fs-base) );
	}
}

.side-toggle {
	.hidden-for-all;
}
